# values.yaml
---
ingressClass:
  enabled: true
  isDefaultClass: true
  name: traefik
service:
  annotations:
    service.beta.kubernetes.io/aws-load-balancer-type: nlb
globalArguments:
- "--api.insecure=true"
